In [5]:
var1 = 1
var1+=1
print(var1)
var2=2

var3 = var1+var2
print(var3)

2
4

In [10]:
var1 = "1"
var2 = 1
var3 = 2
var4 = "2"

#string + string
print(var1+var4)

#string + number -> error
#print(var1+var2)

#number + string -> error
#print(var2+var4)

#number + number
print(var2+var3)

12
3

In [12]:
#variable ->legal and illegal

var1 = 1
var_1 = 1
#var$ = 2

In [20]:
a=1
b=2
print(a,b)
a,b=b,a
print(a,b)

1 2
2 1

In [24]:
q = 2 % 3
print(q)

q = 3 % 3
print(q)

q = 0 % 3
print(q)

2
0
0

In [67]:
spe = "cat"
if spe == "cat":
    print("Yep, it's cat.")
else:
    print("111")

Yep, it's cat.

In [33]:
species = "cat"
#if species = "cat":
#if species === "cat":
if species == "catt":
    print("Yep, it's cat.")
else:
    print("111")

111

In [35]:
if species == "cat":
    print(species)
else:
    print("111")

cat

In [49]:
age=62 
res="1"
if age > 65 or age < 21 and res == "U.K.":
    print(age)
else:
    print(111)

111

In [59]:
age=66 
res="U.K."
if (age > 65 or age < 21) and res == "U.K.":
    print(age)
else:
    print(111)

66

In [83]:
first_name = "Harry"
last_name = "Potter"
interest = "wizardry"

if first_name == "Harry":
    if last_name == "Potter":
            if interest == "wizardry":
                print("Welcome back to Hogwarts, Harry!")
            elif first_name == "Harry":
                print(1)

Welcome back to Hogwarts, Harry!

In [86]:


print(1)
#comments
'''
qqqqqqqqqqqq
wwwwwwwwwwwwww
eeee
'''

1

'\nqqqqqqqqqqqq\nwwwwwwwwwwwwww\neeee\n'

In [92]:
'''
this q1111qq
ww
e
'''

'\nthis q1111qq\nww\ne\n'

In [103]:
cities=["karachi","lahore","qwty"]
new_cities=["q","w","e"]
cities=new_cities+cities
print(cities)
cities.append("1111")
print(cities)
cities.insert(0,"qwerty")
print(cities)
cities.insert(1,"aasdsy")
print(cities)
cities.insert(-2,"12345")
print(cities)
cities.insert(-1,"cvbn")
print(cities)

['q', 'w', 'e', 'karachi', 'lahore', 'qwty']
['q', 'w', 'e', 'karachi', 'lahore', 'qwty', '1111']
['qwerty', 'q', 'w', 'e', 'karachi', 'lahore', 'qwty', '1111']
['qwerty', 'aasdsy', 'q', 'w', 'e', 'karachi', 'lahore', 'qwty', '1111']
['qwerty', 'aasdsy', 'q', 'w', 'e', 'karachi', 'lahore', '12345', 'qwty', '1111']
['qwerty', 'aasdsy', 'q', 'w', 'e', 'karachi', 'lahore', '12345', 'qwty', 'cvbn', '1111']

In [111]:
print(cities)
a=cities[2:7]
print(a)
a=cities[2:7:1]
print(a)
a=cities[2:7:2]
print(a)

['qwerty', 'aasdsy', 'q', 'w', 'e', 'karachi', 'lahore', '12345', 'qwty', 'cvbn', '1111']
['q', 'w', 'e', 'karachi', 'lahore']
['q', 'w', 'e', 'karachi', 'lahore']
['q', 'e', 'lahore']

In [117]:
var = 1
var1 =input("Enter the name of a city: ")
print(var1)
print(int(var1))
print(float(var1))

Enter the name of a city: a
a

ValueError: invalid literal for int() with base 10: 'a'

In [120]:
x="qwert"
x = x.upper()
print(x)
x = x.title()
print(x)

QWERT
Qwert

In [128]:
a=["ass","ssss","ssdd"]
j=0
for i in a:
    a[j]=i.upper()
    print(i)
    j+=1
    
a

ass
ssss
ssdd

['ASS', 'SSSS', 'SSDD']

In [132]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for num,name in enumerate(presidents, start=0):
    presidents[num] = name.upper()

presidents

['WASHINGTON', 'ADAMS', 'JEFFERSON', 'MADISON', 'MONROE', 'ADAMS', 'JACKSON']

In [133]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for num, name in enumerate(presidents, start=1):
    print("President {}: {}".format(num, name))

President 1: Washington
President 2: Adams
President 3: Jefferson
President 4: Madison
President 5: Monroe
President 6: Adams
President 7: Jackson

In [149]:
customer = {
    "first name": "David",
    "last name": "Elliott",
    "address": "4803 Wellesley St.",
    1 : 2
}
q={}
q=customer
print(q,"q")
print(customer[1],customer["address"])
print(customer)
customer["city"]="karachi"
print(customer)
customer["asd"]=""
print(customer)
len(customer)

{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 1: 2} q
2 4803 Wellesley St.
{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 1: 2}
{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 1: 2, 'city': 'karachi'}
{'first name': 'David', 'last name': 'Elliott', 'address': '4803 Wellesley St.', 1: 2, 'city': 'karachi', 'asd': ''}

6

In [150]:
for each_value in customer.values():
     print(each_value)
for each_value in customer.keys():
     print(each_value)

David
Elliott
4803 Wellesley St.
2
karachi

first name
last name
address
1
city
asd

In [3]:
x=2
print(x)
print(x ** 2)

2
4

In [5]:
print(1==1)

True

In [8]:
d = {
    'a' : 1,
    'b' : 2,
}
print(d['a'],d['b'])
#print(d['a','b'])

1 2

In [13]:
d1 = {
    'a' : 1,
    'b' : 2,
}
id1=id(d1)
del d1
d2 = {
    'a' : 1,
    'b' : 2,
}


id2=id(d2)
del d2
print(id1,id2,id1==id2)

2988614972688 2988615594488 False