# 1)list
    method
    indexing
    slicing
    list comprehensive
2)loop
    for
    while
3)dictionary

list->array

In [3]:
l1 =[]
print(l1)

[]

In [5]:
l1 =[1,2,"3",'a']
print(l1)

[1, 2, '3', 'a']

In [8]:
dir(l1)    #_attribute_,else methods

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# list indexing (list->one value,slicing->more than value)
+ve indexing(start with 0)(left to right),-ve indexing(right to left)

In [9]:
l1[2]

'3'

In [10]:
l1[-1] #(last value -1)

'a'

In [11]:
l1[0]

1

In [12]:
l1[8]  #error

IndexError: list index out of range

In [13]:
#inline and in-memory
#1->modified only at that time
#2->modified permenantlye

In [14]:
len(l1)

4

In [15]:
l2=[1,2,3,4]
l2

[1, 2, 3, 4]

In [16]:
l1[1]

2

In [17]:
print(l1)
l1[1]=12
print(l1)

[1, 2, '3', 'a']
[1, 12, '3', 'a']

In [18]:
print(l1);l1[1]=133;print(l1)

[1, 12, '3', 'a']
[1, 133, '3', 'a']

In [25]:
i=0
while i < len(l1):
    print(l1[i])
    i+=1 #i++->error

1
133
3
a

In [26]:
i=0
while i < len(l1):
    print(l1[i])
    i+=2 #i++->error

1
3

In [29]:
#
l3=[3,99,0,3,8,66,7,23]
sorted(l3)  #in line

[0, 3, 3, 7, 8, 23, 66, 99]

In [30]:
l3

[3, 99, 0, 3, 8, 66, 7, 23]

In [33]:
sorted(l2,reverse=True) #descending

[4, 3, 2, 1]

In [34]:
l2

[1, 2, 3, 4]

In [36]:
print(l3)
l3.sort()
print(l3)

[3, 99, 0, 3, 8, 66, 7, 23]
[0, 3, 3, 7, 8, 23, 66, 99]

range(start,end,step)
start=include
end=exclude(minus 1)
step=sequence
(generator function)->?(pre defined)

In [37]:
range(1)#0 se 10

range(0, 1)

In [38]:
range(1,11)#0 se 10

range(1, 11)

In [39]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
list(range(1,101,3))

[1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100]

In [46]:
chr(97)#ascii to char

'a'

In [47]:
ord('a')#char to ascii

97

In [51]:
l4 = list(range(65,91,1))
l4

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [52]:
#mapping-> map(function,list) (generative function->will  run until error)
l5=list(map(chr,l4))
l5

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [ ]:
# 0-9
# A-Z
# a-z

In [ ]:
#slicing (same ass range)
# obj[start : end : step]
#///same eas range

In [53]:
l6 = list(range(1,11))
l6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
#for first five elements
l6[0:4] #(left to right) if step +ve or not given

[1, 2, 3, 4]

In [56]:
l6[0:4:2]

[1, 3]

In [58]:
l6[0:4:-1]#right ot left

[]

###### list(enumerate(l6)) #->return index and its value

In [61]:
l6[0:] #till end

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
l6[0::]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
l6[: : ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
l6[:0:-2]

[10, 8, 6, 4, 2]

In [67]:
l6[0:2] + l6[3:7]

[1, 2, 4, 5, 6, 7]

In [68]:
#list comprehensive(to compresss code in a single  lines)

In [69]:
l6

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
for e in l6:#e->element ,l6->list,
    print(e)#statement

1
2
3
4
5
6
7
8
9
10

In [71]:
# true_value if logic else false-value
a=5
'abc' if a==5 else 'xyz'

'abc'

In [75]:
#now in list
# [statement for element]
[x+2 for x in range(1,15)]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [76]:
["{} x {} = {}".format(2,x,2*x) for x in range(1,11)] # will generate in list

['2 x 1 = 2',
 '2 x 2 = 4',
 '2 x 3 = 6',
 '2 x 4 = 8',
 '2 x 5 = 10',
 '2 x 6 = 12',
 '2 x 7 = 14',
 '2 x 8 = 16',
 '2 x 9 = 18',
 '2 x 10 = 20']