In [7]:
q,w,e="qwe"
print(q,w,e)

q w e

In [9]:
l=["qwe","asd",213]
a,s,d=l
print(a,s,d)

qwe asd 213

In [14]:
l=["qwe","asd",213]
z,_,c=l
print(z,c)

qwe 213

list comprehension

In [15]:
l1=[i for i in range(0,8)]
l1

[0, 1, 2, 3, 4, 5, 6, 7]

In [25]:
employees= [["a","A",1],
            ["b","B",2],
            ["c","C",3],
           ]
print(employees[1][1])

B

In [29]:
#####loop
new=[]
for i in employees:
    new.append(i[0])
   
print(new)

['a', 'b', 'c']

In [36]:
neww=[]
for i in range(0,3):
    neww.append(employees[i][1])
    
print( neww)

['A', 'B', 'C']

In [37]:
#####list  comprehension
new1=[i[0] for i in employees]
print(new1)

['a', 'b', 'c']

In [39]:
employees[:][2]

['c', 'C', 3]

In [42]:
employees[:]

[['a', 'A', 1], ['b', 'B', 2], ['c', 'C', 3]]

dictionary

In [50]:
card={
    "name":"TAha",
    "age":20
}
print(card)
print(card['name'])

{'name': 'TAha', 'age': 20}
TAha

In [52]:
print(card.keys())

dict_keys(['name', 'age'])

In [57]:
for k,value in card.items():
    print(k,value)

name TAha
age 20

In [58]:
###list of dictionary

l1=[{
    "name":"TAha",
    "age":20
},{
    "name":"ali",
    "age":12
}]

In [59]:
len(l1)

2

In [66]:
for i in range(0,len(l1)):
    if l1[i]["name"]=="ali":
        print(l1[i])

{'name': 'ali', 'age': 12}

In [67]:
l2=[a for a in l1 if l1[i]["name"]=="ali"]
l2

[{'name': 'TAha', 'age': 20}, {'name': 'ali', 'age': 12}]

In [69]:
l3=[a if a["name"]=="ali" for a in l1]
l3

SyntaxError: invalid syntax (<ipython-input-69-a027ef68340c>, line 1)

function

In [74]:
def myfunc():
    length=0
    for i in l1:
        length+=1
    return length

In [76]:
myfunc()

2

In [77]:
len(l1)

2

In [79]:
l2=[1,2,3,4,5,6,7,8,9]
def summation(l):
    sum1=0
    for i in l2:
        sum1+=i
    return sum1

In [80]:
sum(l2)

45

In [81]:
summation(l2)

45

generate frequency table through dictionary

In [87]:
l3=[1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4]
freq_table ={}

for i in l3:
    if i in freq_table:
        freq_table[i]+=1
    else:
        freq_table[i]=1
freq_table

{1: 6, 2: 5, 3: 4, 4: 2}

In [99]:
a=1
b=2
print(a,b)
a,b=b,a
print(a,b)
if (a%2!=0):
    c="odd"
else:
    c="even"

#(a%2==1)?c="odd";c"even"
print(c)

1 2
2 1
even

In [121]:
l1=[(1,4,3),
    (4,9,6),
    (7,12,9)  
]
print(l1)
l1.sort(key=1)
print(l1)

[(1, 4, 3), (4, 9, 6), (7, 12, 9)]

TypeError: 'int' object is not callable

In [127]:
d={
    "name":1,
    "age":2,
    "fname":3
}
dir(d)
#sorting dictionary

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [135]:
#sen=input("enter a word")
word="a a a a b b b c c c c"
l1=word.split()
d1 ={}

for i in l1:
    if i in d1:
        d1[i]+=1
    else:
        d1[i]=1
d1
#how to sort a dictionary

{'a': 4, 'b': 3, 'c': 4}

In [143]:
for i in range (1,2019):
    if(i%5==0 and i%7==0 and i%15!=0):
        print(i,end=" ,")

35 ,70 ,140 ,175 ,245 ,280 ,350 ,385 ,455 ,490 ,560 ,595 ,665 ,700 ,770 ,805 ,875 ,910 ,980 ,1015 ,1085 ,1120 ,1190 ,1225 ,1295 ,1330 ,1400 ,1435 ,1505 ,1540 ,1610 ,1645 ,1715 ,1750 ,1820 ,1855 ,1925 ,1960 ,

In [ ]:
for i in range (2,2000):
    for j in range(i+1)

In [151]:
sen= input("enter something ")
l=sen.split(sep=",")
l(int)
sum1=0
for i in l:
    if (i>=0 and i<=9):
        sum+=i
     
print(sum)

enter something 1,2,3

TypeError: 'list' object is not callable